[run]
branch = True
parallel = True
relative_files = True
source = app
omit =
    app/core/engine/scapy.py
    app/core/engine/xiaomi_router.py
    app/core/engine/router_factory.py
    app/services/attack.py
    app/services/recognition/providers/*
    app/services/recognition_engine.py
    app/services/scanner/*
    app/services/fingerprint_collector.py
    app/routes/attack.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == "__main__":
    if False:

[paths]
source =
    app
    */ZenetHunter/backend/app
    */site-packages/app
